.overlay {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.profile-image {
    border: 10px solid rgb(233, 139, 17);
    width: 200px;
    border-radius: 5px;
    /* margin: 30px; */
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-card,
.right-card {
  /*background-image: url("images/hobbies.png");*/
  background-color: #fdff8d;
  margin: 1rem;
  border-radius: 25px;
  padding: 1rem;
  width: 15rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
width: 300px;
}

.card-section {
    display: flex;
  }

.container {
background-color: rgb(252, 232, 192);
width: 110vw;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.judul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container2 {
    background-color: rgb(253, 213, 128);
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title1 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }


  .image2 {
    width: 200px;
    height: 200px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }


  .image {
    width: 200px;
    height: 200px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/LINE_logo.svg/768px-LINE_logo.svg.png");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }


  .image3 {
    width: 200px;
    height: 200px;
    background-image: url("https://pbs.twimg.com/profile_images/1308010958862905345/-SGZioPb.jpg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .desc {
    color: rgb(85, 75, 75);
    font-family: "Staatliches", cursive;
    font-size: 1.5rem;
    font